# Data Wrangling

### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

### Creating Dataframes from: orders, products and departments

In [2]:
# Establish Data path
data_path = r'C:\Users\gerar\CareerFoundry Python\Instacart Basket Analysis\02 Data'

# orders.csv into df_orders
df_orders = pd.read_csv(os.path.join(data_path, 'Original Data', 'orders.csv'))


# products.csv into df_products
df_products = pd.read_csv(os.path.join(data_path, 'Original Data', 'products.csv'))


# departments.csv into df_departments
df_departments = pd.read_csv(os.path.join(data_path, 'Original Data', 'departments.csv'))

In [3]:
df_orders.shape

(3421083, 7)

In [4]:
df_products.shape

(49693, 5)

In [5]:
df_departments.shape

(1, 22)

### Data Wrangling

In [60]:
#dropping 'eval_set' column and update df_orders
df_orders = df_orders.drop(columns = ['eval_set'])

In [61]:
# renaming a column title in df_orders.   From 'order_dow'  to  'order_day_of_the_week' 
df_orders.rename(columns = {'order_dow': 'order_day_of_the_week'}, inplace = True)

In [62]:
# changing 'order_id' from df_orders into a string type
df_orders['order_id'] = df_orders['order_id'].astype('str')

In [63]:
# transposing df_departments into df_departments_T
df_departments_t = df_departments.T

In [64]:
# getting the header from the transposed table using .iloc
departments_header = df_departments_t.iloc[0,:]

In [65]:
# getting rid of the first row of df_departments. Create df_departments_t_new
df_departments_t_new = df_departments_t[1:]

In [66]:
# reassigning column headers to table
df_departments_t_new.columns = departments_header

In [67]:
# turning df_departments_t_new into a data dictionary
departments_dictionary = df_departments_t_new.to_dict('index')

In [68]:
departments_dictionary

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

### Subsetting

In [69]:
# Creates a subset 'df_snacks' from 'df_products' by selecting rows that fulfill the condition 'department_id'==19

df_snacks = df_products[df_products['department_id']==19]

# Task

### 2. Changing a datatype

In [75]:
# changes 'user_id' column into a string type
df_orders['user_id'] = df_orders['user_id'].astype('str')

In [76]:
df_orders.dtypes

order_id                   object
user_id                    object
order_number                int64
order_day_of_the_week       int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

### 3. Changing a column name

In [91]:
# Renames 'order_number' into 'customer_order_count'. It specifices if this is the first, second ...etc of this customer
df_orders.rename(columns = {'order_number': 'customer_order_count'}, inplace = True)

In [98]:
df_orders.head(0)

Empty DataFrame
Columns: [order_id, user_id, customer_order_count, order_day_of_the_week, order_hour_of_day, days_since_prior_order]
Index: []

### 4. Busiest hour for placing orders?

In [99]:
# Counts grouping by 'order_hour_of_day'
df_orders['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: count, dtype: int64

##### The busiest hour for orders is 10 am

### 5. Meaning of "4" in department_id?

In [108]:
print(departments_dictionary.get('4'))

{'department': 'produce'}

In [115]:
departments_dictionary

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

### 6. Subset of breakfast items

In [117]:
# creates dataframe from df_products for rows with department_id = 14, "breakfast"
df_breakfast_items = df_products[df_products['department_id']==14]

In [118]:
df_breakfast_items

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6
...,...,...,...,...,...
49330,49326,Cereal Variety Fun Pack,121,14,9.1
49395,49391,Light and Fluffy Buttermilk Pancake Mix,130,14,2.0
49547,49543,Chocolate Cheerios Cereal,121,14,10.8
49637,49633,Shake 'N Pour Buttermilk Pancake Mix,130,14,14.2
49667,49663,Ultra Protein Power Crunch Peanut Butter N' Ho...,57,14,10.2

### 7. Subset that includes: alcohol, deli, beverages and meat/seafood

In [122]:
# creates dataframe out of alcohol,deli,beverages and meat/seafood 
df_dinner_party = df_products.loc[df_products['department_id'].isin([5,7,12,20])]

### 8. Row count of df_dinner_party

In [135]:
# counts rows in df_dinner_party
print("The dinner party subset has: ", len(df_dinner_party), "rows.")

The dinner party subset has:  7650 rows.

### 9. Information about user with user_id = 1

In [143]:
# the user_id 1 will be represented as df_customer1 
df_customer1 = df_orders[df_orders['user_id']=='1']

In [147]:
df_customer1

,order_id,user_id,customer_order_count,order_day_of_the_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
5,3367565,1,6,2,7,19.0
6,550135,1,7,1,9,20.0
7,3108588,1,8,1,14,14.0
8,2295261,1,9,1,16,0.0
9,2550362,1,10,4,8,30.0
10,1187899,1,11,4,8,14.0

### 10. Basic Stats on customer 1

In [149]:
# Provides information about the customer with user_id '1'
df_customer1.describe()

,customer_order_count,order_day_of_the_week,order_hour_of_day,days_since_prior_order
count,11.000000,11.000000,11.000000,10.000000
mean,6.000000,2.636364,10.090909,19.000000
std,3.316625,1.286291,3.477198,9.030811
min,1.000000,1.000000,7.000000,0.000000
25%,3.500000,1.500000,7.500000,14.250000
50%,6.000000,3.000000,8.000000,19.500000
75%,8.500000,4.000000,13.000000,26.250000
max,11.000000,4.000000,16.000000,30.000000

I don't see anything suspicious with user_id == 1. Further analysis is needed

### 11. Exporting Data

In [150]:
# Exports df_orders as orders_wrangled.csv
df_orders.to_csv(os.path.join(data_path, 'Prepared Data', 'orders_wrangled.csv'))

# Exports df_departments_t_new as departments_wrangled.csv
df_departments_t_new.to_csv(os.path.join(data_path, 'Prepared Data', 'departments_wrangled.csv'))