### Importing Libraries

In [3]:
import pandas as pd
import numpy as np
import os

### Importing Data

In [4]:
# declares data path 
data_path = r'C:\Users\gerar\CareerFoundry Python\Instacart Basket Analysis\02 Data'

In [5]:
# imports products.csv into df_products
df_products = pd.read_csv(os.path.join(data_path, 'Original Data', 'products.csv'))

In [6]:
# imports orders_wrangled.csv into df_orders
df_orders_clean = pd.read_csv(os.path.join(data_path, 'Prepared Data', 'orders_wrangled.csv'))

In [31]:
# check shape of imported dataframes 
print('This is the shape of the imported orders table:', df_orders_clean.shape)
print('This is the shape of the imported products table', df_products_clean.shape)

This is the shape of the imported orders table: (3421083, 7)
This is the shape of the imported products table (49677, 5)

### Consistency Checks

In [7]:
# checks how many null values are in a dataframe
df_products.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [8]:
# creates a subset without rows that have null values in the product_name column
df_products_clean = df_products[df_products['product_name'].isnull()== False]

In [9]:
# checks for duplicate values and creates a safety dataframe for these duplicates
df_duplicates = df_products_clean[df_products_clean.duplicated()]

In [12]:
df_duplicates

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [10]:
# removes duplicates from df_products_clean and creates a new dataframe
df_products_clean_no_duplicates = df_products_clean.drop_duplicates()

In [11]:
# amount of rows df_products_clean
df_products_clean.shape

(49677, 5)

# Task

### 2. Describe df_orders to discover columns with unexpected values

In [13]:
df_orders_clean.describe()

,Unnamed: 0,order_id,user_id,customer_order_count,order_day_of_the_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

2. I don't see anything that seems irregular, it should be further investigated

### 3. Checking for mixed-type data in the orders dataframe

In [14]:
for col in df_orders_clean.columns.tolist():
  weird = (df_orders_clean[[col]].map(type) != df_orders_clean[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_orders_clean[weird]) > 0:
    print (col)

### 4. Comment if there was mixed-type data in the orders dataframe

No mixed-type data was found. This code above does not print any column name.

### 5. Checking for missing values in the orders dataframe

In [15]:
# check df_orders_clean for missing values
df_orders_clean.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
customer_order_count           0
order_day_of_the_week          0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [16]:
# creates temporal subset to explore those rows

df_orders_clean[df_orders_clean['days_since_prior_order'].isnull() == True]

,Unnamed: 0,order_id,user_id,customer_order_count,order_day_of_the_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
11,11,2168274,2,1,2,11,NaN
26,26,1374495,3,1,1,14,NaN
39,39,3343014,4,1,6,11,NaN
45,45,2717275,5,1,3,12,NaN
...,...,...,...,...,...,...,...
3420930,3420930,969311,206205,1,4,12,NaN
3420934,3420934,3189322,206206,1,3,18,NaN
3421002,3421002,2166133,206207,1,6,19,NaN
3421019,3421019,2227043,206208,1,1,15,NaN
3421069,3421069,3154581,206209,1,3,11,NaN

### 6. Addressing missing values

These values represent a customer ordering for the first time. This is why there is no prior days.

Therefore, I dont think they should be removed.

### 7. Checking for duplicate values

In [25]:
# checks duplicate values
df_orders_clean[df_orders_clean.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, customer_order_count, order_day_of_the_week, order_hour_of_day, days_since_prior_order]
Index: []

No duplicate values found in the orders dataframe.

### 8. Adressing Duplicate values

No duplicates in df_orders_clean

In [26]:
# creating df_orders_clean_no_duplicates for naming consistency
df_orders_clean_no_duplicates = df_orders_clean

### 9. Exporting Data

In [27]:
# Exporting df_orders_clean and df_products_no_duplicates as file_consistent.csv

df_orders_clean_no_duplicates.to_csv(os.path.join(data_path, 'Prepared Data', 'orders_consistent.csv'))

df_products_clean_no_duplicates.to_csv(os.path.join(data_path, 'Prepared Data', 'products_consistent.csv'))

In [30]:
# check shape of exported dataframes 
print('This is the shape of the consistent orders table:', df_orders_clean_no_duplicates.shape)
print('This is the shape of the consistent products table', df_products_clean_no_duplicates.shape)

This is the shape of the consistent orders table: (3421083, 7)
This is the shape of the consistent products table (49672, 5)