### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

### Importing Data

In [2]:
# establishes data path
data_path = r'C:\Users\gerar\CareerFoundry Python\Instacart Basket Analysis\02 Data'

In [3]:
# imports pickle file into a panda dataframe 
df_orders_products_merge = pd.read_pickle(os.path.join(data_path, 'Prepared Data', 'orders_products_merge.pkl'))

In [4]:
# creates a subset for safe experimenting
df = df_orders_products_merge[:1000000]

### Defining a function

In [5]:
def price_label(row):
    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row ['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15: 
        return 'High range'
    else: return 'Not enough data'

### Applying price label function

In [6]:
# uses price label function and creates a price_range column in the df
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\gerar\AppData\Local\Temp\ipykernel_11924\1951934892.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [7]:
df['price_range'].value_counts()

price_range
Mid-range product    652638
Low-range product    338018
High range             9344
Name: count, dtype: int64

In [8]:
df['prices'].max()

24.5

In [9]:
df.loc[df['prices']> 15, 'price_range_loc'] = 'High-range product'

C:\Users\gerar\AppData\Local\Temp\ipykernel_11924\237033395.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices']> 15, 'price_range_loc'] = 'High-range product'

In [10]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [11]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [12]:
df['price_range_loc'].value_counts()

price_range_loc
Mid-range product     652638
Low-range product     338018
High-range product      9344
Name: count, dtype: int64

In [13]:
df_orders_products_merge.loc[df_orders_products_merge['prices']<= 5, 'price_range_loc'] = 'Low-range product'

In [14]:
df_orders_products_merge.loc[(df_orders_products_merge['prices'] > 5) & (df_orders_products_merge['prices'] <= 15), 'price_range_loc'] = 'Mid_range_price'

In [15]:
df_orders_products_merge.loc[df_orders_products_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [16]:
df_orders_products_merge['price_range_loc'].value_counts()

price_range_loc
Mid_range_price       21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

#### For loop example

In [17]:
for x in range(30,45):
    print('My age is %d' %(x))

My age is 30
My age is 31
My age is 32
My age is 33
My age is 34
My age is 35
My age is 36
My age is 37
My age is 38
My age is 39
My age is 40
My age is 41
My age is 42
My age is 43
My age is 44

In [18]:
df_orders_products_merge['order_day_of_the_week'].value_counts(dropna = False)

order_day_of_the_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [19]:
result = []

for value in df_orders_products_merge['order_day_of_the_week']:
    if value == 0:
        result.append('Busiest day')
    elif value == 4:
        result.append('Least busy')
    else:
        result.append('Regularly busy')

In [20]:
df_orders_products_merge['busiest_day'] = result

In [21]:
df_orders_products_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

# Task

### 2. Modifying busiest day column

In [22]:
# resets the "result" list. 
# modifies "for" loop with the new conditions. New logic: top 2 and bottom 2. The rest stays the same.

result = []

for value in df_orders_products_merge['order_day_of_the_week']:
    if (value == 0) or (value == 1):
        result.append('Busiest days')
    elif (value == 4 or value == 3):
        result.append('Least busy days')
    else:
        result.append('Regularly busy')

In [23]:
# assigns the new result list into a new "busiest_day_new" column 

df_orders_products_merge['busiest_days_new'] = result

In [24]:
# checks the value counts of the modified labels in the "busiest day column"
df_orders_products_merge['busiest_days_new'].value_counts(dropna = False)

busiest_days_new
Regularly busy     12916111
Busiest days       11864412
Least busy days     7624336
Name: count, dtype: int64

In [25]:
# checks the value counts of the original column for comparison
df_orders_products_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

### 3. Observations of busiest_days_new  column

If we compare both values we can see that the old column that the top 2 values are almost as high as the regularly busy days. Using simple calculations we can have the value of Top 1, Top 2, Bottom 1 and Bottom 2 days.

In [26]:
print('This is the top 1 value: ',  6204182)
print('This is the top 2 value: ',  11864412-6204182)
print('This is the bottom 1 value: ', 3783802)
print('This is the bottom 2 value: ', 7624336-3783802)

This is the top 1 value:  6204182
This is the top 2 value:  5660230
This is the bottom 1 value:  3783802
This is the bottom 2 value:  3840534

### 4. Busiest hour ranges

In [27]:
df_orders_products_merge.head(1)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,customer_order_count,order_day_of_the_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days_new
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid_range_price,Regularly busy,Regularly busy

In [28]:
# uses values counts of all the hours in to visualiye possible hour ranges 
df_orders_products_merge['order_hour_of_day'].value_counts(dropna =False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [29]:
# declares 2 lists which represent top and bottom periods. 'Most orders' and 'Fewest Orders'.
most_orders = [10, 11, 14, 15, 13, 12]
fewest_orders = [0, 1, 5, 2, 4, 3]

# declares empty list that will fill the 'busiest_period_of_day' column
busiest_period_list = []

# for loop that fills the empty list 
for value in df_orders_products_merge['order_hour_of_day']:  
    if value in most_orders:
        busiest_period_list.append('Most orders')
    elif value in fewest_orders:
        busiest_period_list.append('Fewest orders')
    else:
        busiest_period_list.append('Average orders')

In [30]:
# creates a column inside the df_orders_products_merge dataframe. Column name is 'busiest_period_of_day'.
# assigns the values of busiest_period_list into this column

df_orders_products_merge['busiest_period_of_day'] = busiest_period_list

In [31]:
# checks the results
df_orders_products_merge.head(1)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,customer_order_count,order_day_of_the_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days_new,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid_range_price,Regularly busy,Regularly busy,Most orders

### 5. Print the frequency for this new column

In [32]:
# print the counts of those periods
print(df_orders_products_merge['busiest_period_of_day'].value_counts(dropna = False))

busiest_period_of_day
Most orders       16128666
Average orders    15679865
Fewest orders       596328
Name: count, dtype: int64

### 7. Exporting dataframe

In [33]:
df_orders_products_merge.to_pickle(os.path.join(data_path, 'Prepared Data', 'orders_products_merge_busy.pkl'))

In [34]:
# checks shape of exported datafram
df_orders_products_merge.shape

(32404859, 18)