### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

### Importing Data

In [2]:
# declares data_path as a raw-string variable 
data_path = r'C:\Users\gerar\CareerFoundry Python\Instacart Basket Analysis\02 Data'

In [13]:
# assigns orders_products_prior.csv into the df_orders_prior dataframe
df_orders_prior = pd.read_csv(os.path.join(data_path, 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [46]:
# imports the consistent orders dataframe 
df_orders_consistent = pd.read_csv(os.path.join(data_path, 'Prepared Data', 'orders_consistent.csv'), index_col = False)

##### orders_prior

In [15]:
# how many rows and columns?
df_orders_prior.shape

(32434489, 4)

In [16]:
# checking key or id of dataframe
df_orders_prior.head(1)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1

#### orders_consistent

In [49]:
# checking shape of df_orders_consistent
df_orders_consistent.shape

(3421083, 6)

In [50]:
# checking key or id of dataframe
df_orders_consistent.head(1)

,order_id,user_id,customer_order_count,order_day_of_the_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN

In [51]:
# Experiment if merging works ok
pd.merge(df_orders_prior, df_orders_consistent, on = ['order_id'], indicator = True)

,order_id,product_id,add_to_cart_order,reordered,user_id,customer_order_count,order_day_of_the_week,order_hour_of_day,days_since_prior_order,_merge
0,2,33120,1,1,202279,3,5,9,8.0,both
1,2,28985,2,1,202279,3,5,9,8.0,both
2,2,9327,3,0,202279,3,5,9,8.0,both
3,2,45918,4,1,202279,3,5,9,8.0,both
4,2,30035,5,0,202279,3,5,9,8.0,both
...,...,...,...,...,...,...,...,...,...,...
32434484,3421083,39678,6,1,25247,24,2,6,21.0,both
32434485,3421083,11352,7,0,25247,24,2,6,21.0,both
32434486,3421083,4600,8,0,25247,24,2,6,21.0,both
32434487,3421083,24852,9,1,25247,24,2,6,21.0,both
32434488,3421083,5020,10,1,25247,24,2,6,21.0,both

In [53]:
# Merging both dataframes and including a flag column
df_merged = df_orders_consistent.merge(df_orders_prior, on ='order_id', indicator = True)

In [59]:
# counting how many rows took values from both, left, or right dataframes
df_merged['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [60]:
# doing a full outer join
df_outer_merged = df_orders_consistent.merge(df_orders_prior, on = 'order_id', how = 'outer', indicator = True )

In [58]:
# counting how many rows took values from both, left, or right dataframes
df_outer_merged['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

# Task

### 2. Exporting merged data frame to pickle

In [61]:
df_merged.to_pickle(os.path.join(data_path ,'Prepared Data', 'orders_products_combined.pkl'))

### 4. Checking shape of exported file

In [62]:
# Shape of exported file
df_merged.shape

(32434489, 10)